<section id="about-me">
	<div class="container">
		<div class="avatar">
			<img class="img-circle" src="/static/img/{{ site.avatar }}" alt="Profile image">
		</div>
		<h3>
			Hi, I'm {{ site.author.name }}!
		</h3>
		<p>
			I am a Senior Principal Software Engineer at Amazon Web Services (AWS),
			where I work on developer tooling.
			I focus on re-imagining how applications are built and how productive
			developers can be when their tools are powered by generative AI, as part of Amazon Q.
		</p>
		<p>
			Throughout my entire tenure at Amazon, my objective has been delighting developers on AWS.
			Previously at AWS, I worked on AWS Proton, Amazon ECS, and the AWS Code Suite, as well as
			several open source projects including AWS CDK, Spinnaker, and Backstage.
			Before joining Amazon in 2014, I was a software engineer at Motorola Solutions
			working on products in the WiFi technology space. I graduated from the University
			of Texas at Austin with a Bachelor's degree in Computer Science.
		</p>
	</div>
</section>
