<section id="about-me">
<div class="container">
	<div class="avatar">
		<img class="img-circle" src="{{ site.baseurl }}/static/img/{{ site.avatar }}" alt="Profile image">
	</div>
	<h3>
		Hi, I'm {{ site.author }}!
  </h3>
  <h5>
		I am a Principal Software Engineer for AWS Container Services,
		where I focus on developer tooling and developer experience for containers.
		I like to have fun with containers and think about how they fit into
		local development, continuous deployment, observability, and operations.
		Most recently, I led the creation and development of the new <a href="https://aws.amazon.com/proton/">AWS Proton</a>
		application deployment service, which launched in December 2020.
		<br/><br/>
		Previously, I worked in AWS Developer Tools building AWS CodeBuild and AWS CodeCommit.
		Before joining Amazon, I was a software engineer at Motorola Solutions
		working on products in the WiFi technology space.  I graduated from the University
		of Texas at Austin with a Bachelor's degree in Computer Science.
	</h5>
</div>
</section>
