<section id="about-me">
	<div class="container">
		<div class="avatar">
			<img class="img-circle" src="/static/img/{{ site.avatar }}" alt="Profile image">
		</div>
		<h3>
			Hi, I'm {{ site.author.name }}!
		</h3>
		<p>
			I am a Senior Principal Software Engineer at Amazon Web Services (AWS),
			where I focus on developer experience and tooling.
			My current focus is making the developer experience around building and deploying
			cloud applications more delightful across containers, serverless,
			infrastructure as code, and local development.
		</p>
		<p>
			Previously at AWS, I have worked on Amazon ECS and the AWS Code Suite.
			Most recently, I led the creation and development of
			<a href="https://aws.amazon.com/proton/">AWS Proton</a>,
			which launched in December 2020.
		</p>
		<p>
			Before joining Amazon, I was a software engineer at Motorola Solutions
			working on products in the WiFi technology space. I graduated from the University
			of Texas at Austin with a Bachelor's degree in Computer Science.
		</p>
	</div>
</section>