<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/index.html"><i class="fa fa-home fa-lg"></i></a>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ site.baseurl }}/index.html">Clare Liguori</a></li>
      </ul>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
        <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
        <li><a href="{{ site.baseurl }}/talks.html">Talks</a></li>
        <li><a href="{{ site.baseurl }}/writing.html">Writing</a></li>
      </ul>
    </div>
  </div>
</nav>
