<section id="projects">
<div class="container">
  <h3>Open Source Contributions</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<ul class="fa-ul projects-list">
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/aws/aws-cdk" target="_blank">AWS Cloud Development Kit (CDK)</a>
					- Framework for defining cloud infrastructure in programming languages such as Typescript.
					Contributor to various AWS service modules inside the CDK.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/backstage" target="_blank">Backstage</a>
					- Framework for building internal developer portals.
					Contributed a library that standardizes how Backstage plugins authenticate to AWS APIs.
					Previously maintainer of the AWS Proton plugin for Backstage.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/spinnaker" target="_blank">Spinnaker</a>
					- Multi-cloud continuous delivery solution.
					Contributor to the Amazon ECS plugin inside Spinnaker.
					Previously co-lead for the Spinnaker AWS SIG.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/fluxcd" target="_blank">Flux</a>
					- Continuous delivery solution for Kubernetes.
					Published a <a href="https://github.com/awslabs/aws-cloudformation-controller-for-flux" target="_blank">Kubernetes controller</a> to enable Flux support for AWS CloudFormation.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/aws-actions" target="_blank">GitHub Actions</a>
					- Continuous delivery solution from GitHub.
					Published four GitHub Actions that form a workflow for continuously deploying to Amazon ECS.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/awslabs/run-model-context-protocol-servers-with-aws-lambda" target="_blank">Run MCP servers with AWS Lambda</a>
					- Library for running legacy stdio-based MCP servers in Lambda.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/amazon-archives/aws-lambda-container-image-converter" target="_blank">img2lambda</a>
					- Tool for repackaging Docker images into AWS Lambda layers.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/awslabs/amazon-ecs-for-open-application-model" target="_blank">oam-ecs</a>
					- Tool for deploying Open Application Model configuration to Amazon ECS.
				</p>
			</li>
		</ul>
    </div>
  </div>
  <h3>Demos & Sample Code</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<ul class="fa-ul projects-list">
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/aws-samples/amazon-bedrock-serverless-prompt-chaining" target="_blank">Amazon Bedrock Serverless Prompt Chaining</a>
					- Generative AI application that demonstrates prompt chaining, orchestrated by AWS Step Functions.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/aws-samples/aws-reinvent-2018-trivia-game" target="_blank">AWS re:Invent Trivia Game</a>
					(<a href="https://www.reinvent-trivia.com" target="_blank">Live Demo</a>)
					- Multi-tier application for answering re:Invent trivia questions, with static site, backend API service, and Slack chat bot.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/clareliguori/clare-bot" target="_blank">clare-bot</a>
					- GitHub pull request bot that provisions continuous integration preview environments.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/clareliguori/summarize-my-document" target="_blank">Summarize My Document</a>
					- Generative AI application that summarizes documents using a large language model and generates word cloud images.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/aws-samples/aws-codebuild-samples" target="_blank">Simple Calculator Service</a>
					- Calculator application to demonstrate continuous integration and continuous delivery.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/clareliguori/continuous-integration-rick" target="_blank">Continuous Integration Rick</a>
					- Reports a Rick-and-Morty-themed build status to a GitHub pull request.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/clareliguori/grace-hopper-jeopardy" target="_blank">Grace Hopper Jeopardy</a>
					- Jeopardy-style game with Grace Hopper-related trivia questions.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/clareliguori/gimme-food-trucks-slack-command" target="_blank">/gimmefoodtrucks</a>
					- Slack command that returns that current day's local food trucks in Seattle.
				</p>
			</li>
			<li>
				<span class="fa-li"><i class="fa fa-github fa-lg"></i></span>
				<p>
					<a href="https://github.com/clareliguori/gimme-pizza-slack-command" target="_blank">/gimmepizza</a>
					- Slack command that orders a pizza from Domino's.
				</p>
			</li>
		</ul>
    </div>
  </div>
</div>
</section>
