<section id="projects">
<div class="container">
  <h3>Open Source</h3>
  <div class="panel panel-default">
    <div class="panel-body">
			<h5>
				<i class="fa fa-github fa-lg"></i>&nbsp;
				<a href="https://github.com/spinnaker">Spinnaker</a>
				- Multi-cloud continuous delivery platform.
				Contributor & reviewer for the Amazon ECS driver inside Spinnaker.
				Co-lead for the Spinnaker AWS SIG.
			</h5>
			<h5>
				<i class="fa fa-github fa-lg"></i>&nbsp;
				<a href="https://github.com/aws-actions">AWS for GitHub Actions</a>
				- Published four GitHub Actions that form a workflow for continuously deploying to Amazon ECS.
			</h5>
			<h5>
				<i class="fa fa-github fa-lg"></i>&nbsp;
				<a href="https://github.com/awslabs/aws-lambda-container-image-converter">img2lambda</a>
				- Tool for repackaging Docker images into AWS Lambda layers.
			</h5>
			<h5>
				<i class="fa fa-github fa-lg"></i>&nbsp;
				<a href="https://github.com/awslabs/amazon-ecs-for-open-application-model">oam-ecs</a>
				- Tool for deploying Open Application Model configuration to Amazon ECS.
			</h5>
			<h5>
				<i class="fa fa-github fa-lg"></i>&nbsp;
				<a href="https://github.com/aws/aws-cdk">AWS Cloud Development Kit (CDK)</a>
				- Framework for defining cloud infrastructure in programming languages such as Typescript. Contributor to ECS modules inside the CDK.
			</h5>
    </div>
  </div>
  <h3>Demos & Sample Code</h3>
  <div class="panel panel-default">
    <div class="panel-body">
			<h5>
				<i class="fa fa-github fa-lg"></i>&nbsp;
				<a href="https://github.com/aws-samples/aws-reinvent-2018-trivia-game">AWS re:Invent Trivia Game</a>
				(<a href="https://www.reinvent-trivia.com">Live Demo</a>)
				- Multi-tier application for answering re:Invent trivia questions, with static site, backend API service, and Slack chat bot.
			</h5>
			<h5>
				<i class="fa fa-github fa-lg"></i>&nbsp;
				<a href="https://github.com/clareliguori/clare-bot">clare-bot</a>
				- GitHub pull request bot that provisions continuous integration preview environments.
			</h5>
			<h5>
				<i class="fa fa-github fa-lg"></i>&nbsp;
				<a href="https://github.com/aws-samples/aws-codebuild-samples">Simple Calculator Service</a>
				- Calculator application to demonstrate continuous integration and continuous delivery.
			</h5>
			<h5>
				<i class="fa fa-github fa-lg"></i>&nbsp;
				<a href="https://github.com/clareliguori/continuous-integration-rick">Continuous Integration Rick</a>
				- Reports a Rick-and-Morty-themed build status to a GitHub pull request.
			</h5>
			<h5>
				<i class="fa fa-github fa-lg"></i>&nbsp;
				<a href="https://github.com/clareliguori/grace-hopper-jeopardy">Grace Hopper Jeopardy</a>
				- Jeopardy-style game with Grace Hopper-related trivia questions.
			</h5>
			<h5>
				<i class="fa fa-github fa-lg"></i>&nbsp;
				<a href="https://github.com/clareliguori/gimme-food-trucks-slack-command">/gimmefoodtrucks</a>
				- Slack command that returns that current day's local food trucks in Seattle.
			</h5>
			<h5>
				<i class="fa fa-github fa-lg"></i>&nbsp;
				<a href="https://github.com/clareliguori/gimme-pizza-slack-command">/gimmepizza</a>
				- Slack command that orders a pizza from Domino's.
			</h5>
    </div>
  </div>
</div>
</section>
