<div class="social">
{% if site.github %}
    <div class="about-link-row">
        <div class="about-link-title">Code</div>
        <div class="about-link-logo">
            <a href="https://github.com/{{ site.github }}">
                <img class="link-logo-img" src="{{ site.baseurl }}/static/img/github.png" alt="GitHub">
            </a>
        </div>
    </div>
{% endif %}
{% if site.youtube %}
    <div class="about-link-row">
        <div class="about-link-title">Talks</div>
        <div class="about-link-logo">
            <a href="https://www.youtube.com/playlist?list={{ site.youtube }}">
                <img class="link-logo-img" src="{{ site.baseurl }}/static/img/youtube.png" alt="YouTube">
            </a>
        </div>
    </div>
{% endif %}
{% if site.twitter %}
    <div class="about-link-row">
        <div class="about-link-title">Tweets</div>
        <div class="about-link-logo">
            <a href="https://twitter.com/{{ site.twitter }}">
                <img class="link-logo-img" src="{{ site.baseurl }}/static/img/twitter.png" alt="Twitter">
            </a>
        </div>
    </div>
{% endif %}
{% if site.linkedin %}
    <div class="about-link-row">
        <div class="about-link-title">Work</div>
        <div class="about-link-logo">
            <a href="https://www.linkedin.com/in/{{ site.linkedin }}">
                <img class="link-logo-img" src="{{ site.baseurl }}/static/img/linkedin.png" alt="LinkedIn">
            </a>
        </div>
    </div>
{% endif %}
</div>
