<section id="talks">
<div class="container">
<h3>Public Speaking</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		{% assign sorted_talks = (site.data.talks | sort: 'date') | reverse %}
		{% for talk in sorted_talks %}
			<div class="row">
				 <div class="col-sm-2 col-md-2 col-lg-2">
					 <h5 style="text-align: left">
					 	{{ talk.date | date: "%B %e, %Y" }}
					 </h5>
				 </div>
				 <div class="col-sm-10 col-md-10 col-lg-10">
					 <h5 style="text-align: left">
						 <strong>{{ talk.title }}</strong><br/>
						 at <a href="{{ talk.eventurl }}" target="_blank">{{ talk.event }}</a>
						 {% if talk.youtube %}
								(<a href="https://youtu.be/{{ talk.youtube }}" target="_blank">video</a>)
						 {% endif %}
						 {% if talk.slideshare %}
								(<a href="https://www.slideshare.net/{{ talk.slideshare }}" target="_blank">slides</a>)
						 {% endif %}
						 {% if talk.github %}
								(<a href="https://github.com/{{ talk.github }}" target="_blank">code</a>)
						 {% endif %}
						 {% for link in talk.links %}
						 		(<a href="{{ link.url }}" target="_blank">{{ link.label }}</a>)
						 {% endfor %}
					 </h5>
					</div>
			</div>
	    {% endfor %}
	</div>
  </div>
</div>
</section>
