<section id="writing">
<div class="container">
<h3>Writing</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		{% assign sorted_articles = (site.data.articles | sort: 'date') | reverse %}
		{% for article in sorted_articles %}
			<div class="row">
				 <div class="col-sm-3 col-md-3 col-lg-3 col-date">
					 <h5>
					 	{{ article.date | date: "%B %e, %Y" }}
					 </h5>
				 </div>
				 <div class="col-sm-9 col-md-9 col-lg-9 col-link">
					 <h5>
						 <strong><a href="{{ article.link }}" target="_blank">{{ article.title }}</a></strong><br/>
						 on {{ article.site }}
					 </h5>
					</div>
			</div>
	    {% endfor %}
	  </div>
  </div>
<h3>Blog</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		{% for post in site.posts %}
			<div class="row">
				 <div class="col-sm-3 col-md-3 col-lg-3 col-date">
					 <h5>
					 	{{ post.date | date: "%B %e, %Y" }}
					 </h5>
				 </div>
				 <div class="col-sm-9 col-md-9 col-lg-9 col-link">
					 <h5>
						 <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
					 </h5>
					</div>
			</div>
	    {% endfor %}
	  </div>
  </div>
</div>
</section>
