/* Main page with stikky-footer
-------------------------------------------------- */
html,
body {
  height: 100%;
  background-color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  /* The html and body elements cannot have any padding or margin. */
  border-top: 3px solid #0f80c6;
}
/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px;
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -69px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

/* Navbar
-------------------------------------------------- */

.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #0f80c6;
  font-size: 17px;
  text-transform: uppercase;
  text-align: left;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #0f80c6;
}
.navbar-default .navbar-text {
  color: #0f80c6;
}
.navbar-default .navbar-nav > li > a {
  color: #0f80c6;
  font-size: 17px;
  text-transform: uppercase;
  text-align: left;
}
.navbar-default .navbar-header .fa-lg {
  vertical-align: 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #0f80c6;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #0f80c6;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #0f80c6;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #0f80c6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #0f80c6;
}
.navbar-default .navbar-link {
  color: #0f80c6;
}
.navbar-default .navbar-link:hover {
  color: #0f80c6;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #0f80c6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #0f80c6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0f80c6;
    background-color: #ffffff;
  }
}

/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 800px;
  text-align: center;
}
.container h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.container h2 {
  font-size: 36px;
  text-transform: uppercase;
}
.container h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.container h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}
.col-date h5 {
  margin-top: 0px;
}
.col-link h5 {
  margin-top: 0px;
}
.row {
  margin-top: 5px;
  margin-bottom: 15px;
}
.projects-list {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8em;
  text-align: left;
  margin-top: 10px;
}
.projects-list > li > p {
  padding-top: 4px;
}
.container .text-muted {
  margin: 20px 0;
}
.container a {
  color: #333333;
}
.container a:hover {
  color: #333333;
}
.container .text-muted a {
  color: #0f80c6;
}
.container .text-muted a:hover {
  color: #0f80c6;
}

#about h3 {
  font-weight: 300;
}

#about-me h3 {
  width: auto;
  max-width: 600px;
  margin: 25px auto;
  text-align: left;
  line-height: 1.6;
  font-size: 36px;
}
#about-me h5 {
  width: auto;
  max-width: 600px;
  margin: 25px auto;
  text-align: left;
  line-height: 1.6;
  font-size: 18px;
}
#about-me a {
  color: #0f80c6;
}
#about-me a:hover {
  color: #0f80c6;
}

.social {
  margin: auto;
  display: table;
  border-spacing: 30px;
}
.social .about-link-row {
  display: table-row;
  font-size: 36px;
  text-transform: uppercase;
}
.social .about-link-title {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
.social .about-link-logo {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
.social .link-logo-img {
  width: 70px;
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}

.img-blog-content {
 display: block;
 margin-left: auto;
 margin-right: auto;
 border:  1px solid #CFD9DE;
 max-width: 100%;
}

.panel-default h4 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: left;
  line-height: 32px;
  font-size: 16px;
}
.panel-default h6 {
  font-size: 15px;
}
.panel-default h4 a, h5 a {
  color: #0f80c6;
}
.panel-default h4 a:hover, h5 a:hover {
  color: #0f80c6;
}
.panel{
  border-style: none;
  margin-bottom: 40px;
}
.panel-body {
  padding-top: -10px;
  padding-bottom: 40px;
  text-align: left;
}
.panel-body a {
  color: #0f80c6;
}
.panel-body a:hover {
  color: #0f80c6;
}
.panel-body strong {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.panel-body .fa-lg {
  line-height: 32px;
  vertical-align: top;
}
.social {
  padding-top: 12px;
  word-spacing: 25px;
}
.social h4 > a {
  color: #000000;
}
.avatar {
  padding-top: 5%;
}
.avatar img {
  max-width: 250px;
}
.blog-post{
  padding-top: 15px;
}
.blog-post h3 {
  line-height: 1.6;
  font-size: 36px;
}
.blog-title{
  padding-top: 2px;
}
.blog-title h4 {
  font-weight: 400;
  font-size: 18px;
}

.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
}
.disqus {
  padding-bottom: 15px;
}

.blogpost {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.blogpost strong {
  font-weight: 700;
  font-size: 18px;
}

.blogpost p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.blogpost h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

/* Footer
-------------------------------------------------- */

.footer {
  text-decoration: none !important;
}
.text-muted {
  font-family: 'Roboto', sans-serif;
	color: #6b6b6b;
  font-weight: 300;
  font-size: 14px;
}
div.footer{
  border-bottom: 5px solid #0f80c6;
}
/* Set the fixed height of the footer here */
/*.footer {
  height: 50px;
  padding-bottom: 15px;

}*/
