---
layout: layout
---

<div class="container">
	<div class="blog-post">
		<h3>
		  <strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
		</h3>
	</div>
	<div class="blog-title">
		<h4>
		{{ page.date | date: "%B %e, %Y" }}
		</h4>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="blogpost">
        <h5>
          {% if page.twitter_link %}
          <p><i>(Originally from <a href="{{ page.twitter_link }}">{{ page.twitter_link }}</a>)</i></p>
          {% endif %}

			    {{ content }}
        </h5>
			</div>
		</div>
	</div>
</div>
